{% extends 'base.html' %}
{% block title %}Регистрация | HomeTasks{% endblock %}

{% block content %}

<section class="auth-card">
  <h1>Регистрация</h1>

  <form method="post" class="form-grid">

    <label>Имя
      <input type="text" name="name" required />
    </label>

    <label>Почта
      <input type="email" name="email" required />
    </label>

    <label>Пароль
      <input type="password" name="password" required />
    </label>

    <label>Роль
      <select name="role" required>
        <option value="">Выберите роль</option>
        <option value="teacher">Учитель</option>
        <option value="student">Ученик</option>
      </select>
    </label>

    <label>Класс
      <select name="class_name" required>
        <option value="">Выберите класс</option>
        {% for class_name in class_options %}
          <option value="{{ class_name }}">{{ class_name }}</option>
        {% endfor %}
      </select>
    </label>

    <button type="submit">Создать аккаунт</button>

  </form>
</section>

{% endblock %}